// Colors
$bg-pri-col: #1d2d3c;
$bg-sec-col:#2e3a46;
$text-pri-color: #fff;
$text-sec-color: #818584;


//Typography
$font-primary: 'Montserrat', sans-serif;
$base-font: 16px;
$font-normal: 400;
$font-bold: 700;